.category-banner {
  position: relative;
  text-align: center;
}
.category-banner img {
  width: 89%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}
.back-link {
  position: absolute;
  top: 15px;       /* bannerin yuxarısından məsafə */
  left: 95px;      /* bannerin solundan məsafə */
  width: 40px;     /* iconun ölçüsü */
  height: 40px;
  z-index: 1;     /* bannerin üstündə görünsün */
  cursor: pointer;
  transition: transform 0.2s ease;
}

.back-link img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.back-link:hover {
  transform: scale(1.1); /* hover effekti */
}

.category-banner h1 {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

@media (max-width: 480px) {
.back-link {
  position: absolute;
  top: 15px;       /* bannerin yuxarısından məsafə */
  left: 25px;      /* bannerin solundan məsafə */
  width: 40px;     /* iconun ölçüsü */
  height: 40px;
  z-index: 1;     /* bannerin üstündə görünsün */
  cursor: pointer;
  transition: transform 0.2s ease;
}

.back-link img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.back-link:hover {
  transform: scale(1.1); /* hover effekti */
}
}