/* --- PRODUCT GRID (desktop 4/4, mobile 1/1) --- */
.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* desktop 4 column */
  gap: 20px;
  justify-items: center;
  padding: 20px 0;
}

/* Mobile 1/1 */
@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: 1fr; /* mobile 1 column */
    padding: 10px;
  }
}

/* --- CARD --- */
.product-card {
  width: 100%;
  max-width: 420px;
  height: 250px;
  display: flex;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(28,44,51,0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.product-card h5 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  line-height: 1.3;

  white-space: normal;      /* Uzun mətnləri normal sətirə salır */
  word-break: break-word;   /* Mətn çox olsa belə dağılmır */
  overflow-wrap: anywhere;  /* Uzun sözləri belə sətirə uyğun edir */
}
.product-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(165deg, #b29781, #480f20);
  opacity: 0.12;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.75s ease;
  z-index: 0;
}
.product-card:hover::before {
  transform: scaleX(1);
}
.product-card  {
  position: relative;
  z-index: 2;
}

/* HOVER (desktop only) */
@media (min-width: 481px) {
  .product-card:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 10px 30px rgba(17, 32, 49, 0.45);
  }
}

/* --- IMAGE (all same size) --- */
.product-card img {
  width: 180px;
  height: 250px;
  object-fit: cover;       /* eyni görünüş üçün ideal */
  flex-shrink: 0;
}

/* --- INFO --- */
.product-info {
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-info h3 {
  font-size: 1.25rem;
  font-weight: 800;
  background: linear-gradient(90deg, #2e2418, #db8aa7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

.product-info p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 8px;
}

.product-price {
  font-size: 1.3rem;
  font-weight: 700;
  color: #0f6399;
}

/* --- MOBILE RESPONSIVE (still left image, right text) --- */
@media (max-width: 480px) {
  .product-card {
    width: 100%;
    max-width: 95%;
    box-shadow: 0 5px 15px rgba(39, 187, 28, 0.5);
     height: 300px;
  }
 .product-card:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 10px 30px rgba(17, 32, 49, 0.45);
  }
  .product-card img {
    width: 200px;
    height: 300px;
  }

  .product-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(165deg, #b29781, #480f20);
  opacity: 0.12;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.75s ease;
  z-index: 0;
}
.product-card:hover::before {
  transform: scaleX(1);
}
.product-card  {
  position: relative;
  z-index: 2;
}

  .product-info h3 {
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(52, 47, 47);
  }

  .product-info p {
    font-size: 1.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
  }
}
